*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    text-align: center;
    margin: 2px;
}
hr{
    margin: 12px;
    
}

.list-item{
    margin: 10px;
    background-color: aliceblue;
    padding: 10px;
    line-height: 40px;
    max-width: 1200px;
}

.input-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

/* .deleted-tasks {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: none;
}

.deleted-tasks li {
    padding: 10px;
    background-color: red;
    color: white;
    margin: 5px 0;
    border-radius: 4px;
}

.deleted-task {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deleted-task:hover {
    background-color: #0056b3;
}

.deleted-task:active {
    background-color: #004494;
} */


.write{
    width: 400px;
    padding: 4px;
}

.btn{
    padding: 6px;
    font-weight: bold;
    cursor: pointer;
}

.todo-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.items{
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    margin: 1px;
    padding: 10px;
    width: 600px;
    position: relative;
    font-weight: bold;
    
}

.delete-btn{
    padding: 2px;
    position: absolute;
    top: 20px;
    right: 50px;
}

.checked{
    text-decoration: line-through;
    color: lightgray;
}


